<header style="padding: 10px 0px; border-bottom: 2px solid #ee4d64;">
  <center>
    <a href="" target="_blank">
      <img src="http://localhost:3333/public/logo-secondary.png" alt="Gympass" />
    </a>
  </center>
</header>
